@charset "UTF-8";
@import url("../css/web.css");
@font-face {
  font-family: 'Courier New fnt';
  src: url("../fonts/cour.eot");
  src: local("☺"), url("../fonts/cour.woff") format("woff"), url("../fonts/cour.ttf") format("truetype"), url("../fonts/cour.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

.container {
  width: 100%;
}

.container .menu {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  min-height: 200px;
}

.container .menu__item {
  height: 50px;
  background-color: #B2A8FF;
  border: 1px dashed  #a59af3;
}

.container .menu__item p {
  display: block;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .menu__item img {
  display: block;
  height: 44px;
  width: auto;
  margin: 3px;
}

.container .menu .basket {
  height: 10em;
}

.container .menu .basket__main .no {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .content__row {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 50px;
  height: 640px;
}

.container .content__card {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 30%;
          flex: 0 1 30%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 15px 0;
  -webkit-perspective: 1500px;
          perspective: 1500px;
}

.container .content__front img {
  width: auto;
  max-width: 170px;
  height: auto;
  max-height: 170px;
}

.container .content__back .add {
  height: 30%;
}

.container .content__article {
  margin: 20px 10px;
}

.container .footer {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .footer__block {
  width: 100%;
}
