@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

@font-face {
  font-family: 'Courier New fnt';
  src: url("../fonts/cour.eot");
  src: local("☺"), url("../fonts/cour.woff") format("woff"), url("../fonts/cour.ttf") format("truetype"), url("../fonts/cour.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

body {
  background: url("../imgs/background34.png") repeat;
  color: #551A8B;
  font-family: 'Courier New fnt';
  overflow-y: scroll;
}

a, a:active {
  color: #551A8B;
}

.container {
  width: 80%;
  margin: 0 auto;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .menu {
  background-color: #B2A8FF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100px;
  max-height: 20%;
}

.container .menu__item {
  height: 100%;
  width: 100%;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 25px;
}

.container .menu__item:hover {
  background-color: #a7c6ff;
  -webkit-box-shadow: cornflowerblue 0px 0px 5px inset;
          box-shadow: cornflowerblue 0px 0px 5px inset;
}

.container .menu__item a, .container .menu__item .basket {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
}

.container .menu__down {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 10;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transition: 0.7s;
  transition: 0.7s;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
}

.container .menu__item:hover .menu__down {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  -webkit-box-shadow: 0px 1px 5px 0 #8146b8;
          box-shadow: 0px 1px 5px 0 #8146b8;
}

.container .menu__types {
  width: 100%;
  height: 1.6em;
  background-color: #fff;
  border: 1px #E3E0FF solid;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.container .menu__types:hover {
  background-color: #f1f6ff;
  -webkit-box-shadow: #d7e5ff 0px 0px 5px inset;
          box-shadow: #d7e5ff 0px 0px 5px inset;
}

.container .menu .basket {
  height: 20em;
  text-align: center;
  font-size: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  padding: 15px 5px;
  background-color: #fff;
}

.container .menu .basket:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.container .menu .basket__main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 80%;
          flex: 1 0 80%;
  overflow: auto;
}

.container .menu .basket__main p {
  margin: 10px 0;
}

.container .menu .basket__right:after {
  content: "\20BD";
}

.container .menu .basket__total {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  margin-top: 15px;
}

.container .menu .basket__left, .container .menu .basket__right {
  display: inline-block;
}

.container .content {
  padding: 5px 0;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.container .content__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  margin: 10px 0;
  height: 200px;
}

.container .content__card {
  margin: 0 5px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 32%;
          flex: 0 1 32%;
  background-color: transparent;
  height: 100%;
  width: 100%;
  position: relative;
  -webkit-perspective: 1100px;
          perspective: 1100px;
}

.container .content__card:first-child {
  margin-left: 0;
}

.container .content__card:last-child {
  margin-right: 0;
}

.container .content__front, .container .content__back {
  position: absolute;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  background-color: #E3E0FF;
  border: 1px #bab3ff solid;
}

.container .content__front img {
  width: auto;
  height: auto;
}

.container .content__back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  background-color: #E3E0FF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  position: relative;
}

.container .content__back p {
  text-align: center;
}

.container .content__back p:first-child, .container .content__back p:nth-child(3) {
  font-size: 20px;
}

.container .content__back p:nth-child(3):after {
  content: "\20BD";
}

.container .content__back .add {
  position: absolute;
  bottom: 10px;
  right: 10px;
  height: 25%;
  min-width: 25%;
  max-height: -webkit-max-content;
  max-height: -moz-max-content;
  max-height: max-content;
  background-color: #F0F8FF;
  border: 1px #ced5db solid;
}

.container .content__back .add:hover {
  background-color: #ecf4fc;
}

.container .content__back .add:active {
  -webkit-box-shadow: #bfc8cf 0 0 5px inset;
          box-shadow: #bfc8cf 0 0 5px inset;
}

.container .content__card:hover .content__front {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.container .content__card:hover .content__back {
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg);
}

.container .content__article {
  text-align: center;
  margin: 15px 0;
}

.container .content__article p {
  margin-bottom: 10px;
}

.container .content__article p:last-child {
  margin: 0;
}

.container .content__article p.right {
  text-align: right;
}

.container .content__article p img {
  max-height: 100px;
  width: auto;
}

.container .footer {
  background-color: #B2A8FF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 5px 20px;
}

.container .footer h1 {
  font-size: 17px;
  font-weight: bold;
  position: relative;
  margin-bottom: 10px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.container .footer h1:after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 45%;
  height: 2px;
  background: #E3E0FF;
}

.container .footer__block {
  font-size: 15px;
  line-height: 20px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 30%;
          flex: 0 1 30%;
  margin: 5px;
}

.container .footer__block_center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.container .footer__block_double {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5px 0;
}

.container .footer a:hover {
  color: #E3E0FF;
}

.container .footer__comm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 3px 0;
  position: relative;
  word-wrap: break-word;
}

.container .footer img {
  display: block;
  max-height: 25px;
  max-width: 25px;
  margin-right: 15px;
}
